<script setup lang="ts">
import { useMessageStore } from "@/stores/message";
const msgStore = useMessageStore();
</script>

<template>
  <div class="text-center ma-2">
    <v-snackbar v-model="msgStore.isShow" :timeout="msgStore.timeOut">
      {{ msgStore.message }}

      <template v-slot:actions>
        <v-btn color="pink" variant="text" @click="msgStore.closeMsg">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
